.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .slider-card {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .slider-image {
    width: 100%;
    height: auto; 
    max-height: 60vh; 
    object-fit: cover; 
  }
  
  .message-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: 'Guardian-egyptt';
    font-size:10px;
  }
  .heading{
    font-size: 2.5vw;
  }